* {
    margin: 0;
    padding: 0;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

.unorderedList {
 
}

h1 {
  margin: 20px 0;
}

h2 {
    margin: 15px 0;
}

h3 {
    margin: 5px 0;
}

p {
    margin: 5px 0;  
    line-height: 1.2em;
}

.search{
   margin-right:10px;
}

.form{
    display:flex;
    flex-direction:row;
    padding:5px;
}

.item {
    display:flex;
    flex-direction:row;
    margin:5px 0 5px 0;
    border:1px solid grey;
    cursor:pointer;
    align-items: center;
}

.item:hover{
    background-color: aliceblue;
}

.info {
    margin-left: 10px;
}

.message{
    margin:10px;
    color: grey;
    font-size: 20px;
}

.thumbnail{
    width:75px;
    height:75px;
    border: 1px solid gainsboro;
}