* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    
}

.layout{
    padding:10px;
}

ol, ul {
	list-style: none;
}

.unorderedList {
 
}

h1 {
  margin: 15px 0;
}

h2 {
    margin: 13px 0;
}

h3 {
    margin: 5px 0;
}

p {
    margin: 5px 0;  
    line-height: 1.2em;
}

.header{ 
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.search{
   margin-right:10px;
   padding: 3px;
   font-size: 1.5em;
}

.sort{
    margin-right:10px;
    padding: 3px;
    font-size: 1.5em;
}

.form{
    display:flex;
    flex-direction:row;
    padding:5px;
}

.item {
    display:flex;
    flex-direction:row;
    margin:8px 0 8px 0;
    border:1px solid grey;
    border-radius: 2px;
    cursor:pointer;
    align-items: center;
    max-width: 600px;
    font-size: 1.3em;
}

.item:hover{
    background-color: aliceblue;
}

.info-block {
    padding: 5px;
    width:80%;
}

.image-block{
    padding: 5px;
    width:20%;
}

.message{
    margin:10px;
    color: grey;
    font-size: 20px;
}

.thumbnail{
    width:75px;
    height:75px;
    border: 1px solid gainsboro;
}

.input{
    height: 28px;
    font-size: 0.9em;
    border-radius: 2px;
    border: 1px solid grey;
}

select {
    height: 30px;
    font-size: 18px;
    border-radius: 2px;
    background: none;
}

.post-img{
    width:500px;
}



/* Small screens */
@media only screen and (max-width: 450px) {
    .thumbnail{
      border: 1px solid gainsboro;
     
    }

    .info-block{
        margin-left: 15px;
    }

    .input{
        height: 30px;
        border: 1px solid black;
        width: 99%;
        border-radius: 2px;
    }

    .form{
        flex-direction: column;
        padding:0;
        font-size: 1.2em;
    }

    .header{
        flex-direction: column;
    }

    .nytimesLogo {
        width: 100%;
        margin-bottom: 10px;
    }

    select {
        height: 30px;
        border: 1px solid black;
        width: 100%;
        background-color: cornsilk;
    }

    .item {
        font-size: 1.2em;
    }

    .sort, .search {
        padding: 5px 0 5px 0;
        margin-right: 0;
    }

    .post-img{
        width:100%!important;
    }
    .title{
        text-align: center;
        font-size: 1.8em;
    }
}